@font-face {
  font-family: "Clear sans";
  src: url(./ClearSans-Light.ttf) format("truetype");
}

:root {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --opacity-50: rgba(0, 0, 0, 0.5);
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clear Sans";
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
  background-color: var(--color-tone-7);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

.key {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--gray);
  border: none;
  border-radius: 0.25em;
  text-transform: uppercase;
  cursor: pointer;
  font-size: inherit;
  color: white;
  user-select: none;
}

.large {
  grid-column: span 3;
}

.key:hover,
.key:focus {
  filter: brightness(1.2);
}

.correct {
  background-color: var(--green);
}

.wrong {
  background-color: var(--color-tone-4);
}

.wrong-location {
  background-color: var(--yellow);
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 3em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
  border: var(--color-tone-3) solid 0.07em;
  color: white;
  text-transform: uppercase;
  transition: transform 250ms linear;
}

.tile-active {
  border: var(--color-tone-2) solid 0.07em;
}

.fill-tile {
  animation: fill 100ms;
}

@keyframes fill {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
  }
}

.error {
  animation: shake 300ms;
}

@keyframes shake {
  20% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.flip {
  transform: rotateX(90deg);
}

.includes {
  background-color: var(--darkendYellow);
  border: none;
}

.match {
  background-color: var(--darkendGreen);
  border: none;
}

.dont-include {
  background-color: var(--color-tone-4);
  border: none;
}

.header {
  position: relative;
  min-height: 2.5em;
  width: 30em;
  border-bottom: var(--gray) solid 0.05em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.statistics-btn {
  position: absolute;
  right: 0.25em;
  height: 1.75em;
  width: 1.75em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
}

.stats-container {
  position: absolute;
  height: 14em;
  width: 24em;
  top: 40%;
  margin: auto;
  border-radius: 0.5em;
  background-color: var(--color-tone-6);
  color: white;
  visibility: hidden;
  z-index: 40;
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.stats-open {
  display: block;
  visibility: visible;
  top: 30%;
  opacity: 1;
}

.close-stats-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

.players-side,
.stats-side {
  height: 100%;
  width: 100%;
  display: none;
  opacity: 1;
}

.visible {
  display: block;
}

.visible.stats-side, .visible.players-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-wrapper {
  display: flex;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.wins,
.losses {
  font-size: 2.5em;
  margin-bottom: -0.2em;
  font-variant-numeric: proportional-nums;
  font-weight: lighter;
}

.stat {
  font-size: 0.75em;
}

.hidden {
  display: none;
}

.flip-stats {
  transform: rotateX(90deg);
  opacity: 0.2;
}

.flip-btn {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 1.75em;
  height: 1.75em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

svg {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: black;
  opacity: 0.7;
  display: none;
}

.overlay-visible {
  display: block;
}

.message-container {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.message {
  padding: 0.75em;
  margin-bottom: 0.5em;
  background-color: var(--color-tone-1);
  border-radius: 0.25em;
  font-size: 1.4em;
  animation: dissapear 2000ms;
}

@keyframes dissapear {
  from {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
